@import '~bootstrap/dist/css/bootstrap.min.css';

.animals {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-gap: 20px;
	.meta-item {
	    display: flex;
	    justify-content: space-between;
		padding: 5px;
		.meta-title {
		    font-weight: bold;
		}
		&:nth-child(odd) {
		    background: rgba(0, 0, 0, 0.0784313725490196);
		}
	}
}

h3 {
    text-align: center;
    border-bottom: 1px solid;
    padding: 20px;
    margin-bottom: 20px;
}
